@import '~style/helpers';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.slider {
  margin-bottom: 80px;
	padding: 10px 10px 5px 10px;
	background: #FFF;
	border-radius: 8px;
}

.time {
  margin-right: 10px;
}

.range {
  float: right;
}

.minus {
  // display: block;
  float: right;
  // margin-bottom: -110px;
}
